p{color:blue}
ol li
{
    color: red;
    font-family: "Arial";
}
h1, h2 , p
{
    font-family: "Arial";
    color: blue;
}
h2
{
    color: blueviolet;
    size: 20px;
}
#zuera
{
    color: red;
}
img 
{
    border: 200px solid black;
    margin: 300px 300px 300px 300px solid blue;
    padding: 150px 150px solid green;
    height: 100px;
    width: 100px;
}