table, th, td
{
    border: 2px solid;
}
#tdverdade, #tdverdade2, #tdverdade4
{
    position: relative;
    top: -20px;
    left: 200px;
    height: 60%;
    width: 60%;
}
#tdverdade3
{
    position: relative;
    top: -20px;
    left: 350px;
    height: 40%;
    width: 40%;
}
h1
{
    position: relative;
    left: 450px;
    font-family: 'Franklin Gothic Medium';
    font-size: 5vh;

}
#apenasocomeco
{
    font-size: 2em;
    position: relative;
}
body
{
    background-size: cover;
    background-attachment: fixed;
    background-image: url("");
}